In [1]:
import pandas as pd
pd.options.display.max_columns = None
import re
import numpy as np

Seguiremos trabajando con mismos csv que en el pair anterior, el de los empleados que unimos en el pair de uni칩n de datasets y el de los tickets de todos los a침os. Para ello, lo primero que tendremos que hacer es cargar estos dos csv.

1. Cread una columna nueva y una funci칩n que nos de el mes en el que se solicit칩 el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la funci칩n debemos tener en cuenta que puede que no haya la informaci칩n de mes en la columna de la fecha. En ese caso devolved un nulo (NaN).

游늷 Nota La fecha tendr치 que ir formato de string como "Enero", "Febrero", etc.

游눠 Pista 游눠Podr칠is usar regex, pero no es estrictamente necesario.

In [2]:
df_pe = pd.read_csv("datos/mergeado.csv") #puestos-empleados
df_pe.head(1)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com

In [3]:
df_copia_pe= df_pe.copy() #copia puestos-empleados
df_copia_pe.head(1)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com

In [4]:
df_tickets = pd.read_csv("datos/concatenado.csv") #tiquets
df_tickets.head(1)

/home/adalaber/Descargas/anaconda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,semestre,a침o
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2췈 semestre,2016

In [5]:
df_copia_ticket= df_tickets.copy() #copia tiquets
df_copia_ticket.head(1)

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,semestre,a침o
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2췈 semestre,2016

In [6]:
df_copia_ticket['Fecha'].isnull().sum() #comprobamos que hay 0 nulos

0

In [7]:
df_copia_ticket['Fecha']= pd.to_datetime(df_copia_ticket['Fecha']) #pasamos a fecha el formato str

In [8]:
def sacar_mes(x): #funci칩n para extraer el mes 
        try:
                return x.strftime("%B")
        except:
            return np.nan

In [9]:
df_copia_ticket["mes"] = df_copia_ticket["Fecha"].apply(sacar_mes) #apply para a침adir la columna mes con el resultado de la funci칩n ejecutada
df_copia_ticket.head(1)

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,semestre,a침o,mes
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2췈 semestre,2016,July

2. En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lecci칩n del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.

游늷 NOTA La columna nueva debe tener el nombre y apellido con la primera letra en may칰sculas, por ejemplo "Jes칰s Villa".

游늷 NOTA Una vez hallamos creado la columna nueva, eliminad las columnas de nombre y apellido originales.

In [10]:
df_copia_pe.head(1)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com

In [11]:
def sacar_nombre(nombre, apellido): #funci칩n para sumar las columnas Nombre y Apellidos, dici칠ndole que las primeras letras vayan en may칰sculas

    return nombre.title() + ' ' + apellido.title()

In [12]:
df_copia_pe['Nombre y Apellidos']= df_copia_pe.apply(lambda dataframe: sacar_nombre(dataframe['Nombre'], dataframe['Apellido']), axis=1 ) 
#a침adimos la columna, que surge a partir del proceso apply

In [13]:
df_copia_pe.sample(1)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email,Nombre y Apellidos
571,571,15-24111,Operador de Producci칩n,PRODUCCION,Operativo,NaN,502,VAZQUEZ,JUAN,juan.vazquez@tractchun.com,Juan Vazquez

In [14]:
df_copia_pe.drop(['Apellido', 'Nombre'], axis=1, inplace=True) #eliminamos las columnas

In [15]:
df_copia_pe.head(1)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Email,Nombre y Apellidos
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,eliana .villa@tractchun.com,Eliana Villa

3. En el pair programming desde a direcci칩n nos ped칤an que agruparamos los datos en base a la columna de "categor칤a", puede que en aquel momento nos dieramos cuenta que hab칤a var칤as categor칤as que eran igual (en concreto "Acceso Login") pero que en algunos casos ten칤a unos s칤mbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos s칤mbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una funci칩n.

In [16]:
df_copia_ticket.head(10)

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,semestre,a침o,mes
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2췈 semestre,2016,July
1,1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,1er semestre,2016,May
2,2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,1er semestre,2016,June
3,3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,1er semestre,2016,April
4,4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,1er semestre,2016,June
5,5,GDLEER-0142608095,2016-08-26,59.0,20.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,1.0,2췈 semestre,2016,August
6,6,GDLEER-0242564650,2016-07-13,1175.0,36.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,1.0,2췈 semestre,2016,July
7,7,GDLEER-0542574815,2016-07-23,561.0,18.0,Software,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0,2췈 semestre,2016,July
8,8,GDLEER-0842457219,2016-03-28,71.0,12.0,Software,Problema,2 - Normal,0 - Sin Asignar,8.0,5.0,1er semestre,2016,March
9,9,GDLEER-1242542213,2016-06-21,1831.0,42.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,5.0,1er semestre,2016,June

In [17]:
df_copia_ticket['Categor칤a'].unique() #comprobamos los elementos que hay dentro de la columna categor칤a

array(['Acceso&%Login', 'Sistema', 'Software', 'Hardware',
       'Acceso%&Login', 'Acceso-&Login', 'Acceso99Login', 'Acceso/Login'],
      dtype=object)

In [18]:
patron_antiguo = 'Acces.*' #patr칩n que vemos dentro de la columna
patron_nuevo = 'Acceso/Login' #patr칩n que queremos que tenga en lel futuro

In [19]:
def simbolos(antiguo, nuevo, columna): #funci칩n con tres par치metros 
    try:
        simbolo= re.sub(antiguo, nuevo, columna) #m칠todo .sub de regex para reflejar, sustituir, y lugar donde sustituir
        return simbolo
    except:
        return np.nan

In [20]:
df_copia_ticket['Categor칤a']=df_copia_ticket.apply(lambda dataframe: simbolos(patron_antiguo , patron_nuevo, dataframe['Categor칤a']), axis=1 ) #apply que aplica la funci칩n

In [21]:
df_copia_ticket.sample(5) #comprobamos los cambios

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,semestre,a침o,mes
43824,43824,NaN,2018-10-28,841.0,22.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,16.0,4.0,2췈 semestre,2018,October
68845,68845,NaN,2020-04-19,207.0,21.0,Sistema,Problema,2 - Normal,0 - Sin Asignar,1.0,5.0,1er semestre,2020,April
63588,63588,NaN,2019-02-27,1452.0,7.0,Sistema,Solicitud,2 - Normal,1 - Baja,12.0,4.0,1er semestre,2019,February
76821,76821,NaN,2020-02-22,1527.0,41.0,Sistema,Solicitud,2 - Normal,1 - Baja,8.0,1.0,1er semestre,2020,February
49119,49119,NaN,2019-04-17,1642.0,12.0,Sistema,Problema,2 - Normal,3 - Alta,3.0,5.0,1er semestre,2019,April

4. Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.

Proceso de limpieza para el df tiquets

In [22]:
df_copia_ticket.drop(['Unnamed: 0', 'Fecha'], axis= 1, inplace=True) #eliminamos las columnas que no queremos

In [23]:
df_copia_ticket.rename(columns={'ID Ticket' : 'id_ticket', 'ID Empleado':'id_empleado', 'ID Agente':'id_agente', 'Categor칤a': 'categor칤a', 'Tipo':'tipo', 'Severidad': 'severidad', 'Prioridad':'prioridad', 'D칤as Resoluci칩n':'dias_resolucion', 'Satisfacci칩n':'satisfaccion' }, inplace=True)
#homogeneizamos el dataframe

In [24]:
df_copia_ticket

,id_ticket,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,dias_resolucion,satisfaccion,semestre,a침o,mes
0,GDDENR-5042564453,1735.0,4.0,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2췈 semestre,2016,July
1,GDDENR-8042508060,1566.0,10.0,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,1er semestre,2016,May
2,GDDESR-1342539995,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,1er semestre,2016,June
3,GDDTSR-5942488006,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,1er semestre,2016,April
4,GDLEER-0042524120,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,1er semestre,2016,June
...,...,...,...,...,...,...,...,...,...,...,...,...
97381,NaN,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0,1er semestre,2020,February
97382,NaN,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,2췈 semestre,2020,September
97383,NaN,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,1er semestre,2020,January
97384,NaN,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0,2췈 semestre,2020,November
97385,NaN,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0,1er semestre,2020,June

Proceso de limpieza para el df puestos-empleados

In [25]:
df_copia_pe.head(1)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Email,Nombre y Apellidos
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,eliana .villa@tractchun.com,Eliana Villa

In [26]:
df_copia_pe.drop(['Unnamed: 0'], axis= 1, inplace=True) #eliminamos columna innecesaria

In [27]:
df_copia_pe.rename(columns={'ID Puesto': 'id_puesto', 'Puesto':'puesto', 'Departamento': 'departamento', 'Tipo Puesto': 'tipo_puesto', 'Turno':'turno', 'ID Empleado': 'id_empleado', 'Email':'email', 'Nombre y Apellidos':'nombre_completo'}, inplace=True)
#homogeneizamos df puesto-empleado

In [28]:
df_copia_pe.sample() #comprobamos

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,email,nombre_completo
1967,90-14100,Ingeniero de Calidad,INGENIERIA DE CALIDAD,Operativo,NaN,1715,elena.ceballos@tractchun.com,Elena Ceballos

5. Guardad el dataframe en un csv que usaremos m치s adelante

In [29]:
df_copia_pe.to_csv("datos/puestos-empleados.csv")

In [30]:
df_copia_ticket.to_csv("datos/tiquets.csv")