In [1]:
import pandas as pd

In [2]:
df_empleados = pd.read_csv("datos/mergeado.csv")
df_empleados.sample(5)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email
633,633,20-31210,Capturista,"SISTEMAS, TRAFICO Y ADUANAS",Administrativo,NaN,1378,URZUA,CRISTINA,cristina.urzua@tractchun.com
554,554,15-24100,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,NaN,748,Cardenas,Yulieth,yulieth.cardenas@tractchun.com
958,958,45-11000,Supervisor de Aseguramiento de Calidad,INGENIERIA DE CALIDAD,Mandos Medios,NaN,124,LEYVA,ISAAC,isaac.leyva@tractchun.com
361,361,15-24100,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,NaN,1466,OSORNIO,LUIS,luis.osornio@tractchun.com
269,269,15-24100,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,NaN,959,PATI칌O,KARLA,karla.pati침o@tractchun.com

In [3]:
df_tickets= pd.read_csv("datos/concatenado.csv")
df_tickets.sample(5)

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,a침o
51453,51453,GMLTER-3543719565,2019-09-11 00:00:00,616.0,45.0,Software,Solicitud,2 - Normal,2 - Media,5.0,5.0,2019
36343,36343,KHLTNT-4143457259,2018-12-23 00:00:00,995.0,22.0,Acceso-&Login,Solicitud,2 - Normal,3 - Alta,1.0,5.0,2018
19760,19760,KHLTSR-1542859474,2017-05-04 00:00:00,937.0,44.0,Sistema,Solicitud,2 - Normal,3 - Alta,5.0,5.0,2017
74107,74107,GHRTNR-3044090815,2020-09-16 00:00:00,1911.0,8.0,Acceso/Login,Solicitud,3 - Mayor,3 - Alta,0.0,5.0,2020
43798,43798,TDLTSR-0943222843,2018-05-02 00:00:00,424.0,48.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,9.0,5.0,2018

In [4]:
sorted_df=df_tickets.sort_values(by=['Categor칤a'])
sorted_df

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,a침o
21349,21349,KWLTNR-0042889170,2017-06-03 00:00:00,587.0,41.0,Acceso%&Login,Solicitud,2 - Normal,1 - Baja,0.0,3.0,2017
17971,17971,KDLTNR-3042861049,2017-05-06 00:00:00,34.0,40.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,1.0,2017
17970,17970,KDLTNR-3042850593,2017-04-25 00:00:00,1849.0,15.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,3.0,2017
17969,17969,KDLTNR-3042835171,2017-04-10 00:00:00,997.0,21.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,4.0,2017
17968,17968,KDLTNR-3042792040,2017-02-26 00:00:00,1654.0,10.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,5.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
22723,22723,SHLEER-0843024078,2017-10-16 00:00:00,407.0,50.0,Software,Problema,2 - Normal,3 - Alta,8.0,4.0,2017
80630,80630,KHLTET-6044163393,2020-11-28 00:00:00,999.0,13.0,Software,Solicitud,2 - Normal,3 - Alta,6.0,3.0,2020
22724,22724,SHLEER-1142964024,2017-08-17 00:00:00,432.0,50.0,Software,Problema,2 - Normal,3 - Alta,6.0,4.0,2017
80650,80650,KHLTET-7143941114,2020-04-20 00:00:00,1871.0,1.0,Software,Solicitud,2 - Normal,3 - Alta,0.0,3.0,2020
48692,48692,GDRTER-7343566305,2019-04-11 00:00:00,930.0,43.0,Software,Solicitud,3 - Mayor,0 - Sin Asignar,3.0,5.0,2019

In [5]:
df_tickets['Categor칤a'].value_counts()

Sistema          38961
Software         19543
Hardware          9717
Acceso/Login      8659
Acceso99Login     6426
Acceso-&Login     5672
Acceso%&Login     4526
Acceso&%Login     3882
Name: Categor칤a, dtype: int64

1.que categor칤a es la que recibe m치s tickets para poder asignar m치s empleados a esa categor칤a. Por esto nos piden que averiguemos qu칠 categor칤a es la que tiene m치s tickets. Adem치s nos piden que devolvamos esta consulta en un DataFrame.

游늷 Ordena los resultados de mayor a menor. Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values()

In [6]:
df_cat = df_tickets.groupby('Categor칤a')['ID Ticket'].count().reset_index()
df_cat

       Categor칤a  ID Ticket
0  Acceso%&Login       4526
1  Acceso&%Login       3882
2  Acceso-&Login       5672
3   Acceso/Login       8659
4  Acceso99Login       6426
5       Hardware       9717
6        Sistema      38961
7       Software      19543

2.  Nos piden que calculemos la media de satisfacci칩n por cada una de las categor칤as que tenemos en el dataframe.

In [7]:
df_sat = df_tickets.groupby('Categor칤a')['Satisfacci칩n'].mean().reset_index()
df_sat

       Categor칤a  Satisfacci칩n
0  Acceso%&Login      4.059876
1  Acceso&%Login      3.957239
2  Acceso-&Login      4.087447
3   Acceso/Login      4.172075
4  Acceso99Login      4.105198
5       Hardware      4.101575
6        Sistema      4.102487
7       Software      4.106841

3. Adem치s de la media les devolvamos la desviaci칩n est치ndar de la satisfacci칩n.

In [8]:
df_sat_std = df_tickets.groupby('Categor칤a')['Satisfacci칩n'].std().reset_index()
df_sat_std

       Categor칤a  Satisfacci칩n
0  Acceso%&Login      1.292629
1  Acceso&%Login      1.341939
2  Acceso-&Login      1.272903
3   Acceso/Login      1.197885
4  Acceso99Login      1.256943
5       Hardware      1.262433
6        Sistema      1.253473
7       Software      1.254424

4.  쯛ay diferencias en la satisfacci칩n bas치ndonos en la categor칤a y el tipo de tickets? Solicitud o Problema.

In [9]:
df_sat_tipo = df_tickets.groupby(['Categor칤a', 'Tipo'])['Satisfacci칩n'].mean().reset_index()
df_sat_tipo

        Categor칤a       Tipo  Satisfacci칩n
0   Acceso%&Login   Problema      3.992799
1   Acceso%&Login  Solicitud      4.081698
2   Acceso&%Login   Problema      3.989940
3   Acceso&%Login  Solicitud      3.945983
4   Acceso-&Login   Problema      4.045079
5   Acceso-&Login  Solicitud      4.100438
6    Acceso/Login   Problema      4.228160
7    Acceso/Login  Solicitud      4.153527
8   Acceso99Login   Problema      4.090354
9   Acceso99Login  Solicitud      4.110276
10       Hardware   Problema      4.090640
11       Hardware  Solicitud      4.105084
12        Sistema   Problema      4.098809
13        Sistema  Solicitud      4.103713
14       Software   Problema      4.111472
15       Software  Solicitud      4.105281

5. N칰mero de empleados que tenemos por departamento. Devolved estos resultados en un dataframe. Ordenadad los resultados de mayor a menor bas치ndonos en la cantidad de empleados que tenemos.

In [10]:
df_empleados.head(1)

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com

In [11]:
df_n_emp = df_empleados.groupby('Departamento')['ID Empleado'].count().reset_index()
df_n_emp

                                   Departamento  ID Empleado
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA           70
1                                  CONTABILIDAD           25
2                         CONTROL DE PRODUCCION          127
3                         INGENIERIA DE CALIDAD          395
4                     INGENIERIA DE MANUFACTURA          228
5                                 MANTENIMIENTO          258
6                                    MATERIALES          125
7                                      PERSONAL           20
8                                    PRODUCCION          475
9                              Recursos Humanos          117
10                  SISTEMAS, TRAFICO Y ADUANAS          160

6. BONUS Quieren saber que departamentos son los que tienen de media un indice de satisfacci칩n. 

游눠Pista Para responder a esta pregunta tendremos que unir los dataframes con m칠todos aprendidos en lecciones anteriores de Pandas.

In [12]:
df_union  = df_empleados.merge(df_tickets, how='inner', on= 'ID Empleado' )
df_union.sample(2)

,Unnamed: 0_x,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email,...,ID Ticket,Fecha,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,a침o
57828,1192,55-23200,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo,NaN,860,Arango,Haygnes,haygnes.arango@tractchun.com,...,TDLTER-6743965000,2020-05-14 00:00:00,40.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,7.0,4.0,2020
96113,1973,90-14100,Ingeniero de Calidad,INGENIERIA DE CALIDAD,Operativo,NaN,1136,URBINA,LILIA,lilia.urbina@tractchun.com,...,GMLTNR-4043331761,2018-08-19 00:00:00,27.0,Acceso-&Login,Solicitud,2 - Normal,2 - Media,0.0,5.0,2018

In [13]:
df_satmean = df_union.groupby(['Departamento'])['Satisfacci칩n'].mean().reset_index()
df_satmean

                                   Departamento  Satisfacci칩n
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA      4.075758
1                                  CONTABILIDAD      4.051628
2                         CONTROL DE PRODUCCION      4.086079
3                         INGENIERIA DE CALIDAD      4.109565
4                     INGENIERIA DE MANUFACTURA      4.095311
5                                 MANTENIMIENTO      4.087091
6                                    MATERIALES      4.126486
7                                      PERSONAL      4.096349
8                                    PRODUCCION      4.102209
9                              Recursos Humanos      4.122085
10                  SISTEMAS, TRAFICO Y ADUANAS      4.102866

7. BONUS Por 칰ltimo, quieres conocer los 5 empleados que tienen mayor valor en la satisfacci칩n y los 5 empleados que tienen un menor valor de satisfacci칩n. Todo esto respecto a la media. En este caso, conseguiremos una dataframe, donde tengamos el el id del empleado y su satisfacci칩n, pero no sabemos su nombre y appelidos. 쯉e os ocurre como conseguir la informaci칩n del nombre del empleado?

In [14]:
df_satempleados = df_union.groupby(['ID Empleado'])['Satisfacci칩n'].mean().reset_index()
df_satempleados

      ID Empleado  Satisfacci칩n
0               1      3.951220
1               2      4.224490
2               3      4.106383
3               4      4.090909
4               5      4.000000
...           ...           ...
1995         1996      4.266667
1996         1997      4.211538
1997         1998      4.304348
1998         1999      3.575000
1999         2000      4.058824

[2000 rows x 2 columns]

In [15]:
df_satempleados_ordenado = df_satempleados.sort_values(by='Satisfacci칩n')
df_satempleados_ordenado.head()

      ID Empleado  Satisfacci칩n
838           839      3.488372
1365         1366      3.545455
1724         1725      3.567568
1824         1825      3.571429
1998         1999      3.575000

In [16]:
df_satempleados_ordenado.tail()

      ID Empleado  Satisfacci칩n
1835         1836      4.586957
1942         1943      4.589286
745           746      4.641026
858           859      4.666667
621           622      4.744681

In [19]:
df_union_emp  = df_satempleados.merge(df_satempleados_ordenado, how='inner', on= 'ID Empleado' )
df_union_emp.head()

   ID Empleado  Satisfacci칩n_x  Satisfacci칩n_y
0            1        3.951220        3.951220
1            2        4.224490        4.224490
2            3        4.106383        4.106383
3            4        4.090909        4.090909
4            5        4.000000        4.000000