In [2]:
import pandas as pd
import numpy as np
import pickle

In [3]:
df_csv = pd.read_csv("datos/quejas.csv", sep = ';', encoding = 'latin-1')
df_csv

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
...,...,...,...,...,...,...,...,...,...
4494,Sugerencia,Cancelada,INTERNET,2022-01-02 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",NaN,OTROS,OTROS
4495,Sugerencia,Rechazada por SGAC,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4496,Queja,Rechazada por SGAC,INTERNET,2022-01-24 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4497,Queja,Rechazada por SGAC,INTERNET,2022-01-21 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4498,Queja,Rechazada por SGAC,INTERNET,2022-01-21 00:00:00,NaN,NaN,NaN,OTROS,Sin valor

Utlizando el dataset de quejas.csv y usando el loc, quedaros solo con aquellos datos que correspondan a tipo "Sugerencia" (para solucionar este ejercicio tendréis que poner en práctica métodos aprendidos en la lección de ayer). En este caso querremos todas las columnas. Almacenad los resultados en nuevo dataframe que se llame df_sugerencias.

In [4]:
df_sugerencias = df_csv.loc[df_csv['tipo']=='Sugerencia']
df_sugerencias

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
5,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-08 00:00:00,2022-03-14 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
7,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-24 00:00:00,2022-02-01 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
34,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-28 00:00:00,2022-03-31 00:00:00,"Consejería de Educación, Universidades, Cienci...",Dirección del Área Territorial de Madrid Capital,EDUCACIÓN,CENTROS EDUCATIVOS
37,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-10 00:00:00,2022-01-12 00:00:00,"Consejería de Educación, Universidades, Cienci...",Dirección General de Educación Infantil Y Prim...,EDUCACIÓN,CENTROS EDUCATIVOS
40,Sugerencia,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Educación, Universidades, Cienci...",Dirección del Área Territorial de Madrid-Sur,EDUCACIÓN,CENTROS EDUCATIVOS
...,...,...,...,...,...,...,...,...,...
4460,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-14 00:00:00,2022-03-16 00:00:00,"Consejería de Economía, Hacienda y Empleo",Dirección General de Función Pública,OTROS,FUNCIÓN PÚBLICA
4479,Sugerencia,Enviada a Otra Administración,INTERNET,2022-03-03 00:00:00,NaN,"Consejería de Cultura, Turismo y Deporte",NaN,OTROS,OTROS
4480,Sugerencia,Enviada a Otra Administración,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,OTROS
4494,Sugerencia,Cancelada,INTERNET,2022-01-02 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",NaN,OTROS,OTROS
4495,Sugerencia,Rechazada por SGAC,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,Sin valor

In [5]:
df_json = pd.read_json("datos/quejas.json")
df_json.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [6]:
df_xlsx = pd.read_excel("datos/quejas2.xlsx")
df_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

Utlizando el dataset de quejas.csv y usando el loc,quedaros solo con aquellos datos que correspondan con canal de entrada "Presencial" y y que sean de tipo "Queja" (para solucionar este ejercicio tendréis que poner en práctica métodos aprendidos en la lección de ayer). En este caso solo querremos las columnas de "fecha_entrada" y "fecha_contestacion". Almacenad los resultados en nuevo dataframe que se llame df_queja_presencial.

In [7]:
df_sugerencias

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
5,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-08 00:00:00,2022-03-14 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
7,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-24 00:00:00,2022-02-01 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
34,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-28 00:00:00,2022-03-31 00:00:00,"Consejería de Educación, Universidades, Cienci...",Dirección del Área Territorial de Madrid Capital,EDUCACIÓN,CENTROS EDUCATIVOS
37,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-10 00:00:00,2022-01-12 00:00:00,"Consejería de Educación, Universidades, Cienci...",Dirección General de Educación Infantil Y Prim...,EDUCACIÓN,CENTROS EDUCATIVOS
40,Sugerencia,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Educación, Universidades, Cienci...",Dirección del Área Territorial de Madrid-Sur,EDUCACIÓN,CENTROS EDUCATIVOS
...,...,...,...,...,...,...,...,...,...
4460,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-14 00:00:00,2022-03-16 00:00:00,"Consejería de Economía, Hacienda y Empleo",Dirección General de Función Pública,OTROS,FUNCIÓN PÚBLICA
4479,Sugerencia,Enviada a Otra Administración,INTERNET,2022-03-03 00:00:00,NaN,"Consejería de Cultura, Turismo y Deporte",NaN,OTROS,OTROS
4480,Sugerencia,Enviada a Otra Administración,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,OTROS
4494,Sugerencia,Cancelada,INTERNET,2022-01-02 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",NaN,OTROS,OTROS
4495,Sugerencia,Rechazada por SGAC,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,Sin valor

In [8]:
df_queja_presencial = df_csv.loc[(df_csv.canal_entrada == 'PRESENCIAL') & (df_csv.tipo == "Queja"), ['fecha_entrada', 'fecha_contestacion']]
df_queja_presencial

            fecha_entrada   fecha_contestacion
45    2022-01-31 00:00:00                  NaN
197   2022-02-17 00:00:00  2022-02-23 00:00:00
420   2022-02-14 00:00:00  2022-02-15 00:00:00
421   2022-02-11 00:00:00  2022-02-11 00:00:00
422   2022-02-14 00:00:00  2022-02-15 00:00:00
...                   ...                  ...
4323  2022-01-17 00:00:00                  NaN
4336  2022-02-23 00:00:00                  NaN
4412  2022-02-07 00:00:00  2022-02-10 00:00:00
4455  2022-03-10 00:00:00  2022-03-18 00:00:00
4465  2022-01-17 00:00:00                  NaN

[726 rows x 2 columns]

Usando el método read_clipboard, cread un dataframe nuevo que nos ayude a contestar las siguientes preguntas:

In [36]:
df_tabla_climas = pd.read_clipboard()
df_tabla_climas

,,,Marzo,Abril,Mayo,Junio,​​Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
,Enero,Febrero,,,,,,,,,,
Temperatura media (°C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5
Temperatura min. (°C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8
Temperatura máx. (°C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1
Precipitación (mm),41,34,40,47,39,16,6,8,22,61,55,46
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%
Días lluviosos (días),5,4,4,6,5,3,1,2,3,5,5,5
Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7

- Usando el iloc, ¿Cuál es la temperatura mínima de Febrero? ¿Y la máxima?

In [37]:
df_tabla_climas.columns

Index(['Marzo ', 'Abril ', 'Mayo ', 'Junio ', '​​Julio ', 'Agosto ',
       'Septiembre ', 'Octubre ', 'Noviembre ', 'Diciembre'],
      dtype='object')

- Usando el loc, ¿Cuántas horas de sol hay en Julio? ¿Y en Diciembre?

In [42]:
df_tabla_climas.iloc[6,4] #julio

'13.1 '

In [44]:
df_tabla_climas.iloc[6,5] # agosto

'12.1 '

- Usando el iloc, ¿Cuál fue la húmedad del mes de Septiembre? ¿Y la precipitación?

In [46]:
df_tabla_climas.iloc[[3,4],6].reset_index(drop=True)

0     22
1    41%
Name: Septiembre , dtype: object

- Estos datos corresponden a los años 1991-2021. Cread una nueva columna cuyo valor sea "1991-2021".

In [47]:
df_tabla_climas["Años"]= "1991-2021"
df_tabla_climas

,,,Marzo,Abril,Mayo,Junio,​​Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,Años
,Enero,Febrero,,,,,,,,,,,
Temperatura media (°C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5,1991-2021
Temperatura min. (°C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8,1991-2021
Temperatura máx. (°C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1,1991-2021
Precipitación (mm),41,34,40,47,39,16,6,8,22,61,55,46,1991-2021
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%,1991-2021
Días lluviosos (días),5,4,4,6,5,3,1,2,3,5,5,5,1991-2021
Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7,1991-2021

3. Por último, guardad el dataframe generado en el ejercicio 2 en formato csv y xlsx.

In [49]:
df_tabla_climas.to_csv('datos/df_web.csv')

In [50]:
df_tabla_climas.to_excel('datos/df_web.xlsx')