In [26]:
import pandas as pd
import numpy as np

Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.

1. Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

In [27]:
df_2016 = pd.read_csv("datos/df_yeaar.csv", index_col=0)
df_2016.head(1)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2º semestre

In [28]:
df_2016.columns

Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción',
       'semestre'],
      dtype='object')

In [29]:
df_2016.rename(columns={'id_ticket' : 'ID Ticket', 'fecha': 'Fecha', 'id_empleado' :'ID Empleado', 'id_agente' :'ID Agente', 'categoría' : 'Categoría', 'tipo': 'Tipo', 'severidad':'Severidad', 'prioridad': 'Prioridad', 'días_resolución': 'Días Resolución', 'satisfacción':'Satisfacción'}, inplace=True)

In [30]:
df_2016['año']=2016
df_2016.head(1)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,semestre,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2º semestre,2016

In [31]:
df_2017 = pd.read_excel("datos/2017.xlsx", index_col=0)

In [32]:
valores = ['1er semestre', '2º semestre']
condiciones = [df_2017['Fecha'].dt.month <= 6, df_2017['Fecha'].dt.month > 6]

In [33]:
df_2017['Fecha'] = pd.to_datetime(df_2017['Fecha'])

In [34]:
df_2017['año']=2017
df_2017['semestre'] = np.select(condiciones, valores)
df_2017.head(1)

,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año,semestre
ID Ticket,,,,,,,,,,,
GDDEER-8142900901,2017-06-14,1200.0,29.0,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1.0,5.0,2017,1er semestre

In [35]:
df_2018 = pd.read_excel("datos/2018.xlsx", index_col=0)
df_2018.head(1)

,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
ID Ticket,,,,,,,,,
GDDEER-9743106195,2018-01-06,759.0,21.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0

In [36]:
df_2018['Fecha'] = pd.to_datetime(df_2018['Fecha'])
condiciones18 = [df_2018['Fecha'].dt.month <= 6, df_2018['Fecha'].dt.month > 6]

In [37]:
df_2018['año']=2018
df_2018['semestre'] = np.select(condiciones18, valores)
df_2018.head(1)

,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año,semestre
ID Ticket,,,,,,,,,,,
GDDEER-9743106195,2018-01-06,759.0,21.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0,2018,1er semestre

In [38]:
df_2019 = pd.read_excel("datos/2019.xlsx", index_col=0)

In [39]:
df_2019['Fecha'] = pd.to_datetime(df_2019['Fecha'])
condiciones19 = [df_2019['Fecha'].dt.month <= 6, df_2019['Fecha'].dt.month > 6]

In [40]:
df_2019['año']=2019
df_2019['semestre'] = np.select(condiciones19, valores)
df_2019.head(1)

,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año,semestre
ID Ticket,,,,,,,,,,,
GDDEER-5743562837,2019-04-07,1833.0,48.0,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7.0,5.0,2019,1er semestre

In [41]:
df_2020 = pd.read_excel("datos/2020.xlsx", index_col=0)

In [42]:
df_2020['Fecha'] = pd.to_datetime(df_2020['Fecha'])
condiciones20 = [df_2020['Fecha'].dt.month <= 6, df_2020['Fecha'].dt.month > 6]

In [43]:
df_2020['año']=2020
df_2020['semestre'] = np.select(condiciones20, valores)
df_2020.head(1)

,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción,año,semestre
ID Ticket,,,,,,,,,,,
GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773.0,48.0,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2020,2º semestre

creo que se pueden unir por el id ticket

2. Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato.

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

4. Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [44]:
concatenado = pd.concat([df_2016, df_2017,df_2018, df_2019, df_2020], axis= 0, ignore_index=True)
concatenado.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,semestre,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2º semestre,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,1er semestre,2016
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,1er semestre,2016
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,1er semestre,2016
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,1er semestre,2016

In [45]:
concatenado['año'].unique()

array([2016, 2017, 2018, 2019, 2020])

In [46]:
df_puestos = pd.read_excel("datos/Puestos.xlsx")
df_puestos.head(1)

  ID Puesto                   Puesto Departamento Tipo Puesto
0  10-23200  Ingeniero de Materiales   MATERIALES   Operativo

In [47]:
df_empleados = pd.read_csv("datos/Empleados2.csv")
df_empleados.head(1)

  Turno  ID Empleado Apellido Nombre ID Puesto                      Email
0     A            6    VILLA  JESUS  50-32200  jesus.villa@tractchun.com

In [48]:
mergeado = df_puestos.merge(df_empleados, how= 'inner', on='ID Puesto')
mergeado.head()

,ID Puesto,Puesto,Departamento,Tipo Puesto,Turno,ID Empleado,Apellido,Nombre,Email
0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,725,Villa,Eliana,eliana .villa@tractchun.com
1,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,747,CHAVEZ,FEDERICO,federico.chavez@tractchun.com
2,10-23200,Ingeniero de Materiales,MATERIALES,Operativo,NaN,544,FIGUEROA,ANGEL,angel.figueroa@tractchun.com
3,10-24111,Operador de Producción,MATERIALES,Operativo,NaN,1376,Piedrahita,Gonzalo,gonzalo.piedrahita@tractchun.com
4,10-24111,Operador de Producción,MATERIALES,Operativo,NaN,44,González,Gonzalo,gonzalo.gonzález@tractchun.com

5. Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming

In [49]:
concatenado.to_csv("datos/concatenado.csv")

In [50]:
mergeado.to_csv('datos/mergeado.csv')